.vs/G2D/FileContentIndex/14dd17dc-854c-4cbe-821d-33c1d80f005d.vsidx
.vs/G2D/FileContentIndex/20ab5970-092e-4596-a55f-de582d62c0b8.vsidx
.vs/G2D/FileContentIndex/5de42941-4133-496a-9c50-9142ddb61b57.vsidx
.vs/G2D/FileContentIndex/6a3c5aa7-b838-4d27-84d1-8e0557c7ae47.vsidx
.vs/G2D/FileContentIndex/cc2577bb-77bf-487c-8bb8-5fbc40adf265.vsidx
.vs/G2D/FileContentIndex/f22ed2af-67c3-4503-ab62-0f6e8ba82396.vsidx
.vs/G2D/v17/.suo
.vs/G2D/v17/Browse.VC.db
.vs/G2D/v17/Browse.VC.db-shm
.vs/G2D/v17/Browse.VC.db-wal
.vs/G2D/v17/Browse.VC.opendb
.vs/G2D/v17/DocumentLayout.backup.json
.vs/G2D/v17/DocumentLayout.json
.vs/G2D/v17/ipch/AutoPCH/11ef4a2ff6773202/ELEVE.ipch
.vs/G2D/v17/ipch/AutoPCH/9878a9a75a163502/G2DPNGREADER.ipch
.vs/GX/FileContentIndex/3b58b4f7-2e83-4d6a-8a04-daef1f0914f0.vsidx
.vs/GX/FileContentIndex/a4dfedf5-bab4-4940-905c-71086061f612.vsidx
.vs/GX/FileContentIndex/e5980f52-2ac0-4299-a6f6-309c3d4ebe2a.vsidx
.vs/GX/v17/.suo
.vs/GX/v17/Browse.VC.db
.vs/GX/v17/DocumentLayout.backup.json
.vs/GX/v17/DocumentLayout.json
